body {
  background-color: khaki;
}

h1 {
  font-size: 40px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 60px;
  border: 1px solid;
  border-radius: 5px;
  padding: 25px;
  max-width: 100%;
}

form {
  justify-content: space-between;
  display: flex;
  margin: auto;
  gap: 10px;
  max-width: fit-content;
  
}

.text {
  border: 1px solid grey;
  font-size: 20px;
  border-radius: 7px;
  margin-bottom: 15px;
  padding: 10px 145px;
}

.submit {
  background-color: darkcyan;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 7px;
  margin-bottom: 15px;
  padding: 10px 15px;
}

footer {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  margin-bottom: 5px;
}
